[Desktop Entry]
Encoding=UTF-8
Name=s3share_plasmoid
Type=Service
ServiceTypes=Plasma/Applet
Icon=arrow-up-double
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Tamas Marki
X-KDE-PluginInfo-Email=tmarki+plasmoid@gmail.com
X-KDE-PluginInfo-Name=S3SharePlasmoid
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=http://tmarki.com/
X-KDE-PluginInfo-Depends=Python-kde4, plasma-scriptengine-python
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
